/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5/04/2019, 09:51:31 AM
    Author     : Jhon Baron
*/

/* Para las tablas */
/*td#td_izq{
	border-top: 1px ridge grey; 
	border-bottom: 1px ridge grey; 
	border-left: 1px ridge grey; 
	border-right: 1px dotted grey
}
td#td_der{
border-top: 
1px ridge grey; 
border-bottom:1px ridge grey; 
border-left: 1px dotted grey; 
border-right:1px ridge grey
}*/

input{
	text-align: center
}